// Misc.
	$misc: (
		z-index-base:		10000
	);

// Duration.
	$duration: (
		menu:				0.5s,
		transition:			0.2s
	);

// Size.
	$size: (
		border-radius:		4px,
		border-width:		1px,
		element-height:		3.5em,
		element-margin:		2em,
		gutter:				3em,
		inner: 				80em
	);

