/* FONts */

@font-face {
      font-family: 'Trebuchet-MS';
      font-style: normal;
      font-weight: bold;
      src: url(https://github.com/LF2L/INEDIT-WP6/blob/main/xar-WP6/assets/fonts/Trebuchet-MS-Bold.ttf?raw=true) format('truetype');
   }

@font-face {
   font-family: 'Trebuchet-MS';
   font-style: normal;
   font-weight: 400;
   src: url(https://www.fabbiocrux.com/inedit/Trebuchet-MS.ttf) format('truetype');
}



@font-face {
   font-family: 'Trebuchet-MS';
   font-style: italic;
   font-weight: 700;
   src: url(https://github.com/LF2L/INEDIT-WP6/blob/main/xar-WP6/assets/fonts/Trebuchet-MS-Bold-Italic.ttf?raw=true) format('truetype');
}

@font-face {
   font-family: 'Trebuchet-MS';
   font-style: italic;
   font-weight: 400;
   src: url(https://github.com/LF2L/INEDIT-WP6/blob/main/xar-WP6/assets/fonts/Trebuchet-MS-Italic.ttf?raw=true) format('truetype');
}



@font-face {
      font-family: 'Belgates';
      font-style: normal;
      font-weight: 400;
      src: url(assets/fonts/Belgates.ttf) format('truetype');
   }


