---
layout: default
header_class: alt


path-img: /assets/img/Home/

banner:
  class: major principal style1 
  title: Hey, I'm Fabio. 
  excerpt: I explore the  3D printing technology for a greener world.
  image: /assets/img/Home/Fabio-Pro.jpg

---

{% comment %}

	Forty by Pixelarity
	pixelarity.com | hello@pixelarity.com
	License: pixelarity.com/license

	Name:

		Home page

	Description:

		Main page of the site

{% endcomment %}




{% include layout/banner.html banner=page.banner %} 



<!-- Main -->
<div id="main">


<!-- <section class="container"> -->

		
<div class="row pt-5">
 	<div class="6u 12u$(small)"><span class="image fit"><img src="{{ site.baseurl | append: page.path-img | append: 'Fabio-Mission2.jpg' }}"</span></div>
 	
 	<div class="4u$ -1u 10u$(small) -1u(small) ">
 		<div class="inner">
			<header class="major">
				<h2>Un poco sobre mi</h2>
			</header>

			<p>Hello.


				Mi nombre es Fabio y trabajo como Ingeniero de Investigacion en el <a href="http://www.lf2l.fr/">Lorraine Fab Living Lab </a>en Nancy, Francia. <br>
			
			</p>
			<!-- <ul class="actions">
				<li><a href="landing.html" class="button next">Get Started</a></li>
			</ul> -->
		</div>
 	</div>
 </div>

		
<!-- </section> -->

	

	<!-- Two -->	
	<section id="two" class="special">
		<div class="inner">
			<header class="major">
			<h2>Here's what I've been doing so far</h2>
		</header>				
		</div>
		
		{% include components/tiles.html id="three" tiles=site.data.settings.Articles %}

	</section>


		
	



	<section id="four">
		<div class="inner alt">
			<header class="major">
				<h2>This is how I work</h2>
			</header>
		</div>
	</section>




</div>