<!-- Peoples with I worked in the past -->
<section id="four" class="quotes">
	<article class="icon fa-quote-left">
		<span class="image"><img src="images/pic03.jpg" alt="" data-position="center" /></span>
		<h2>"Skills??"</h2>
		<div class="author">
			<span class="name">Jane Doe</span>
			<span class="title">Ipsum dolor nullam</span>
		</div>
	</article>
	<article class="icon fa-quote-left">
		<span class="image"><img src="images/pic04.jpg" alt="" data-position="left" /></span>
		<h2>"Nam velit et lorem porta quis at pulvinar tellus nibh"</h2>
		<div class="author">
			<span class="name">John Doe</span>
			<span class="title">Ipsum dolor nullam</span>
		</div>
	</article>
</section>