---
---

// Bootstrap
@import 'bootstrap-4.0/bootstrap';


@import 'skel/libs/vars';
@import 'skel/libs/functions';
@import 'skel/libs/mixins';
@import 'skel/libs/skel';


// FontAwsome - Academicicons
// @import 'font-awesome.min.css';
@import 'academicons.css';
@import 'skel/complements/font-awesome-4.7.0/scss/font-awesome';
// @import 'complements/academicons-1.8.0/css/academicons.css';

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300italic,600,600italic');



// Font
// Charter

@font-face {
    font-family: 'Charter';
    src: url('../fonts/Charter-2014-06/CharterR.woff');
}
@font-face {
    font-family: 'Charter';
    src: url('../fonts/Charter-2014-06/CharterB.woff');
    font-weight: bold;
}
@font-face {
    font-family: 'Charter';
    src: url('../fonts/Charter-2014-06/CharterI.woff');
    font-style: italic;
}
@font-face {
    font-family: 'Charter';
    src: url('../fonts/Charter-2014-06/CharterZ.woff');
    font-weight: bold;
    font-style: italic;
}


/*
	Forty by Pixelarity
	pixelarity.com | hello@pixelarity.com
	License: pixelarity.com/license
*/

	@include skel-breakpoints((
		xlarge: '(max-width: 1680px)',
		large: '(max-width: 1280px)',
		medium: '(max-width: 980px)',
		small: '(max-width: 736px)',
		xsmall: '(max-width: 480px)',
		xxsmall: '(max-width: 360px)'
	));

	@include skel-layout((
		reset: 'full',
		containers: (80%, true),
		
		boxModel: 'border',
		grid: ( gutters: 2em ),
		
		breakpoints: (
			large: (
				grid: ( gutters: 1.5em )
			),
			small: (
				grid: ( gutters: 1.25em )
			)
		)
	));

	@mixin inner {
		> .inner {
			@include padding(4em, 0);
			margin: 0 auto;
			max-width: _size(inner);
			width: calc(100% - 6em);

			@include breakpoint(small) {
				@include padding(3em, 0);
				width: calc(100% - 3em);
			}
		}
	}

// Base.

	@import 'skel/base/page';
	@import 'skel/base/typography';

// Component.

	@import 'skel/components/section';
	@import 'skel/components/form';
	@import 'skel/components/box';
	@import 'skel/components/icon';
	@import 'skel/components/image';
	@import 'skel/components/list';
	@import 'skel/components/table';
	@import 'skel/components/button';
	@import 'skel/components/tiles';
	@import 'skel/components/contact-method';
	@import 'skel/components/spotlights';
	

// Layout.
	@import 'skel/layout/header';
	@import 'skel/layout/banner';
	@import 'skel/layout/main';
	@import 'skel/layout/contact';
	@import 'skel/layout/footer';
	@import 'skel/layout/wrapper';
	@import 'skel/layout/menu';






