{% comment %}

	Forty by Pixelarity
	pixelarity.com | hello@pixelarity.com
	License: pixelarity.com/license

	Name:

		Header

	Description:

		Global site header.
		Set "header_class" to "alt" to create a "revealing" header.

	Example:

		---
		header_class: alt
		---

		{% include layout/header.html %}

{% endcomment %}

<!-- Header -->
	<header id="header" class="{{ page.header_class }}">
		<a href="{{ site.baseurl }}/" class="logo">
			<strong>{{ site.title }}</strong> <span>{{ site.tagline }}</span>
		</a>
		
		<a href="https://scholar.google.com/citations?user=8Cuoaf4AAAAJ&hl=es"><i class="ai ai-google-scholar-square "></i></a>
		<a href="https://univ-lorraine.academia.edu/FabioACruzS"><i class="ai ai-academia-square "></i></a>
		<a href="https://www.researchgate.net/profile/Fabio_Cruz_Sanchez"><i class="ai ai-researchgate-square "></i></a>
		<a href="https://www.mendeley.com/profiles/fabio-a-cruz-sanchez/"><i class="ai ai-mendeley-square "></i></a>
		<a href=""><i class="fa fa-twitter-square " aria-hidden="true"></i></a>


		<nav>
			<a href="#menu">Menu</a>
		</nav>
	</header>