<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">

	
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="{{ site.data.settings.seo.description }}">
	<meta rel="author" href="{{ site.data.settings.seo.rel-author }}">
	<meta rel="publisher" href="{{ site.data.settings.seo.rel-publisher }}">

	<link rel="shortcut icon" type="image/x-icon" href="{{ site.baseurl }}/favicon.ico">

	<title>{{ site.data.settings.title }}</title>

	<!-- Bootstrap -->
	<!-- <link rel="stylesheet" href="{{ site.baseurl }}/assets/bootstrap/css/bootstrap.css"> -->
	<!-- Fabio CSS -->
	<!-- <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/all.css"> -->

	<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
	<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/main.css" />
	<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
	<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->


</head>
<body id="top">
  
  {% include header-2.html %}


  <main>
    {{content}}
  </main>


{%include footer.html %}

<!-- Scripts -->
<script src="{{ site.baseurl }}/assets/js/jquery.min.js"></script>
<script src="{{ site.baseurl }}/assets/js/jquery.dropotron.min.js"></script>
<script src="{{ site.baseurl }}/assets/js/jquery.scrollex.min.js"></script>
<script src="{{ site.baseurl }}/assets/js/jquery.scrolly.min.js"></script>
<script src="{{ site.baseurl }}/assets/js/jquery.selectorr.min.js"></script>
<script src="{{ site.baseurl }}/assets/js/skel.min.js"></script>
<script src="{{ site.baseurl }}/assets/js/util.js"></script>
<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
<script src="{{ site.baseurl }}/assets/js/main.js"></script>	
</body>
</html>